.cardBox {
    display: grid;
    grid-template-columns: repeat(auto-fill, 18rem);
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    gap: 2vw 2vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1vh;
}

.card {
    transition: 180ms;
}

.card:hover {
    border: 1.5px solid black;
}